.add-block {
  /* border: 1px solid rgb(252, 75, 31); */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.add {
  padding: 5px 10px;
  color: rgb(252, 75, 31);
  border-radius: 5px;
}
.add:hover {
  background-color: rgba(252, 75, 31, 0.37);
  color: white;
}

.count {
  padding: 5px 10px;
  color: black;
}

.delete {
  padding: 5px 12px;
  color: rgb(252, 75, 31);
  border-radius: 5px;
}
.delete:hover {
  background-color: rgba(252, 75, 31, 0.37);
  color: white;
}
